body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#091d3e, #114c6c);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
html {
  background-image: linear-gradient(#091d3e, #114c6c);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeBox{
  background-image: radial-gradient(circle at center,#4294a7e8, #013452);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  color: #dbdada;
}

.custom-inputs{
  border: none;
  border-bottom: solid 1px #091d3e;
  background: transparent;
  border-radius: 0px;
  color: white;
  text-align: center;

}

.custom-inputs:focus{
  background: transparent;
  border: none transparent;
  border-bottom: solid 1px #091d3e;
  border-radius: 5px;
  border: 1px;
  color: white
}

.pageContentSection{
  border-radius: 20px 20px 0px 0px;
  background-image: linear-gradient(#091d3e, #114c6c)
}

.menu-icons{
  color: #dbdada;
}

.account-headers{
  color: #dbdada;
}
.txs{
  color: white;
  text-align: left;

}

.txBox{
  background-image: radial-gradient(circle at center,#4294a7e8, #013452);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;

}

.balance-section{
  background: transparent;
  padding-left: 10px;
  border: none;
}

.error{
  color: #ffffff0a;
  margin-top: 2px;
}

.custom-dropdown{
  color: white
}

@media screen and (max-width: 600px){
  .custom-dropdown{
    right: 10%
  }
  
}